venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.env

*.pt

node_modules/

.DS_Store
Thumbs.db

ia/*.html

# Docker / local data
*.log

# OS
.DS_Store
Thumbs.db
# Mapas viales generados / pesados
data/geo/*.graphml
data/geo/*.osm

