{% extends "layout2.html" %}

{% block title %}Statistics Gallery{% endblock %}

{% block content %}

    <h1 class="mt-5">Awesome Stats Gallery</h1>
    <p class="lead">Check out these amazing statistics visuals!</p>


    <div class="rdow">
        <div class="col-md-4">
            <img src="data:image/png;base64,{{ img }}" class="img-fluid mb-4" alt="Stat 1">
        </div>
        
    </div>

    <div class="row">
        <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Riesgo</th>
              </tr>
            </thead>
            <tbody>
              {% for nombre, riesgo in combinados %}
              <tr>
                <td>{{ nombre }}</td>
                <td>{{ riesgo }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          

{% endblock %}
