* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  background: #020617;
}

body {
  font-family: var(--font-family-base);
}

button,
input,
select,
textarea {
  font-family: inherit;
}