flask==3.1.0
python-socketio==5.12.1
eventlet==0.39.1
opencv-python-headless==4.10.0.84
flask-cors==4.0.1
flask-socketio==5.3.6

SQLAlchemy==2.0.36
alembic==1.13.3
GeoAlchemy2==0.15.2
psycopg[binary]==3.2.3

python-dotenv==1.0.1
redis==5.0.8
requests==2.32.3
